/* --------------------- header --------------------- */
.site-logo {
    font-size: 1.4rem;
    font-weight: 600;
    /* letter-spacing: -0.02em; */
}

.site-header {
    background-color: var(--color-header);
}

.site-nav a,
.site-nav button {
    font-size: 0.95rem;

    color: var(--color-text-secondary);

    transition:
        color 0.2s ease,
        opacity 0.2s ease;
}

.site-nav a:hover,
.site-nav button:hover {
    color: var(--color-text);
}

/* 高亮 nav 中已打开的页面 */
.site-nav a.active {
    color: var(--color-text);
}

/* ------------------ footer ------------------ */

.site-footer {
    padding: 48px 0;
    border-top: 1px solid var(--color-border);
}

.footer-text {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
}


/* ----------------- section area ------------------- */
.section-header {
    margin: 80px 0 32px;
}

.section-header h2 {
    font-size: 2rem;
    letter-spacing: -0.03em;
}

.section-header p {
    margin-top: 8px;
    color: var(--color-text-secondary);
}

/* ---------------------- home hero --------------------- */
.hero {
    background-color: var(--color-light-grey-bg);
}

.hero-inner {
    margin-left: 20px;
    margin-right: 20px;
}

.hero-label {
    font-size: 0.9rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: var(--color-text-secondary);
    margin-bottom: 10px;
}

.hero-title {
    font-size: clamp(3rem, 2vw, 6.4rem);
    line-height: 0.95;
    margin-bottom: 10px;
}

.hero-description {
    max-width: 560px;

    font-size: 1.15rem;
    line-height: 1.7;

    color: var(--color-text-secondary);

    margin-bottom: 40px;
}

.hero-actions {
    display: flex;
    gap: 16px;
}

.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    padding: 0 24px;

    border-radius: 999px;

    background: #ffffff;
    color: #000000;

    font-size: 0.95rem;
    font-weight: 500;

    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}

.button-primary:hover {
    opacity: 0.92;
    transform: translateY(-1px);
}

.button-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 24px;
    border-radius: 999px;
    border: 1px solid var(--color-border);
    color: var(--color-text);
    transition: transform 0.2s ease,
        border-color 0.2s ease;
}

.button-secondary:hover {
    transform: translateY(-1px);
    border-color: rgba(255, 255, 255, 0.2);
}

.hero-visual {
    display: flex;
    justify-content: center;
}

.hero-image-wrap {
    width: 100%;
    max-width: 560px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid var(--color-border);
    background: #ffffff;
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
}

/* ------------------- page hero ------------------- */

.page-hero {
    padding: 60px 0 10px;
}

.page-label {
    margin-bottom: 20px;

    color: var(--color-text-secondary);

    text-transform: uppercase;
    letter-spacing: 0.08em;

    font-size: 0.82rem;
}

.page-title {
    font-size: clamp(3rem, 8vm, 5rem);

    line-height: 0.95;

    letter-spacing: -0.05em;
    margin-bottom: 30px;
}

.page-description {
    max-width: 640px;
    color: var(--color-text-secondary);
    line-height: 1.8;
    font-size: 1.05rem;
}

/* ------------------- home section apps -------------------- */

apps-section {
    background-color: var(--color-light-grey-bg);
}

.apps-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 16px;
}

.app-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 8px 24px 24px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    /* background:
        linear-gradient(180deg,
            rgba(255, 255, 255, 0.04),
            rgba(255, 255, 255, 0.02)); */
    background-color: #ffffff;
    transition:
        transform 0.25s ease,
        border-color 0.25s ease,
        background 0.25s ease;
}

.app-card:hover {
    transform: translateY(-1px);
    border-color: rgba(160, 160, 160, 0.15);
    /* background:
        linear-gradient(180deg,
            rgba(255, 255, 255, 0.06),
            rgba(255, 255, 255, 0.03)); */
}

.app-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;

    display: block;
    align-items: center;
    justify-content: center;

    border-radius: 22%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;

    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.1)) drop-shadow(0 4px 10px rgba(0, 0, 0, 0.2));
}

.app-card-title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.03em;
}

.app-card-desc {
    font-size: 0.95rem;
    color: var(--color-text-secondary);
    line-height: 1.5;
}

.app-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.app-tag {
    padding: 6px 10px;
    border-radius: 8px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.06);
    color: var(--color-text-primary);
    font-size: 0.78rem;
    font-weight: 600;
    width: fit-content;

    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.app-tag-icon {
    width: 14px;
    height: 14px;
    opacity: 0.9;
}

/* ------------------- home section about ------------------- */

.about-section {
    position: relative;
    margin: 100px 0 80px 0;
    overflow: hidden;
    background-color: var(--color-light-grey-bg);
}

.about-background {
    position: absolute;
    inset: 0;

    background: radial-gradient(circle at right center, rgba(255, 255, 255, 0.06), transparent 45%);

    pointer-events: none;
}

.about-head {
    margin: 40px 0 30px 0;
    position: relative;
    max-width: 760px;
    z-index: 1;
}

.about-features {
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    z-index: 1;
    width: 70%;
    min-width: 500px;
    padding: 30px 0 0 0;
}

.about-feature {
    /* border: 1px solid #fff; */
    /* debug */

    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 3rem;
}

.about-icon {
    width: 28px;
    height: 28px;
    margin-bottom: 12px;
}

.about-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.about-desc {
    font-size: 0.96rem;
    color: var(--color-text-secondary);
    line-height: 1.4;
}

/* ---------------- home section news ------------------ */

.news-section {
    margin: 100px 0;
}

.news-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.news-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 16px 18px;

    border: 1px solid var(--color-border);
    border-radius: 14px;

    background: rgba(255, 255, 255, 0.02);

    transition: transform 0.2s ease, border-color 0.2s ease;
}

.news-item:hover {
    transform: translateY(-2px);
    border-color: rgba(255, 255, 255, 0.2);
}

.news-date {
    font-size: 0.85rem;
    color: var(--color-text-secondary);

    min-width: 120px;
}

.news-title {
    flex: 1;

    font-size: 0.95rem;
    font-weight: 500;
}

/* ------------------------------------------------- */